.card {
    background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px);height:83vh
}

.cascading-right {
    margin-right: -50px;
}

.login-bg {
    height:93vh;
    background-size:cover;
    background-position: center;
    background-image:url('../images/logo/bg.jpg');
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}